In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
%matplotlib inline

In [2]:
df = pd.read_excel(r'C:\Users\gmjj0\Downloads\2018 ss cad ranking.xlsx', skiprows=40,parse_dates=['WM Week'])

In [51]:
conv = {201747:'2017-11-24', 201748:'2017-12-01', 201749:'2017-12-08', 201750:'2017-12-15',
               201751:'2017-12-22', 201752:'2017-12-29', 201801:'2018-01-05', 201802:'2018-01-12',
               201803:'2018-01-19', 201804:'2018-01-26', 201805:'2018-02-02', 201806:'2018-02-09',
               201807:'2018-02-16', 201808:'2018-02-23', 201809:'2018-03-02', 201810:'2018-03-09',
               201811:'2018-03-16', 201812:'2018-03-23', 201813:'2018-03-30', 201814:'2018-04-06',
               201815:'2018-04-13', 201816:'2018-04-20', 201817:'2018-04-27', 201818:'2018-05-04',
               201819:'2018-05-11', 201820:'2018-05-18', 201821:'2018-05-25', 201822:'2018-06-01',
               201823:'2018-06-08'}
df['WM Week'] = df['WM Week'].map(conv)
df['WM Week'] = pd.to_datetime(df['WM Week'])
df['WM Week'] = df['WM Week'].apply(lambda x: dt.datetime.strftime(x, '%W'))

In [127]:
dates = pd.date_range('2017/11/23', periods=29,freq='W-FRI')
ssdates = dates.to_series().apply(lambda x: dt.datetime.strftime(x, '%W'))
ssdates = dates.strftime('%W')
ssdates
df['Fineline Number'].unique()

array([5458, 5459, 5460, 5461, 5468, 5469, 6024, 6670, 6671, 6691],
      dtype=int64)

## Pivot_Table_Subtotal

In [110]:
table = df.pivot_table(index=['WM Week','Fineline Number','Prime Item Desc','Color Desc'],values=['POS Qty'],aggfunc=np.sum)
out = pd.concat([d.append(d.sum().rename((k,'','','Subtotal'))) for k, d in table.groupby(['WM Week','Fineline Number','Prime Item Desc'])]).append(adf.sum().rename(('Grand','','','Total')))
out.index=pd.MultiIndex.from_tuples(out.index)

## isna & is notna

In [113]:
df.isna().sum()
df.notna().sum()

WM Week            7112
Fineline Number    7112
Prime Item Desc    7112
Color Desc         7112
POS Qty            7112
POS Sales          7112
Net Ship Qty       7112
dtype: int64

## Drop Rows or Columns

In [114]:
df.drop([0,1], axis =0).head()

,WM Week,Fineline Number,Prime Item Desc,Color Desc,POS Qty,POS Sales,Net Ship Qty
2,47,5458,GR BG CAMI GRPH CRPR,GUMBAL,0,0.0,0
3,47,5458,GR BG CAMI GRPH CRPR,LILBUD,0,0.0,0
4,47,5458,GR BG CAMI GRPH CRPR,MISMNT,0,0.0,0
5,47,5458,GR BG CAMI GRPH CRPR,REDRVR,0,0.0,0
6,47,5458,GR BG CAMI GRPH CRPR,SNYELW,0,0.0,0

In [115]:
df.drop([0,1], axis='index').head()

,WM Week,Fineline Number,Prime Item Desc,Color Desc,POS Qty,POS Sales,Net Ship Qty
2,47,5458,GR BG CAMI GRPH CRPR,GUMBAL,0,0.0,0
3,47,5458,GR BG CAMI GRPH CRPR,LILBUD,0,0.0,0
4,47,5458,GR BG CAMI GRPH CRPR,MISMNT,0,0.0,0
5,47,5458,GR BG CAMI GRPH CRPR,REDRVR,0,0.0,0
6,47,5458,GR BG CAMI GRPH CRPR,SNYELW,0,0.0,0

In [121]:
df.drop(index=[4,5,6]).head()

,WM Week,Fineline Number,Prime Item Desc,Color Desc,POS Qty,POS Sales,Net Ship Qty
3,47,5458,GR BG CAMI GRPH CRPR,LILBUD,0,0.0,0
7,47,5458,GR BG CAMI PRT CRPR,ARCWH2,0,0.0,0
8,47,5458,GR BG CAMI PRT CRPR,ARCWHT,0,0.0,0
9,47,5458,GR BG CAMI PRT CRPR,LILBUD,0,0.0,0
10,47,5458,GR BG CAMI PRT CRPR,NVYFOG,0,0.0,0

In [125]:
df.drop(columns=['POS Qty','POS Sales']).head()

  WM Week  Fineline Number       Prime Item Desc Color Desc  Net Ship Qty
3      47             5458  GR BG CAMI GRPH CRPR     LILBUD             0
4      47             5458  GR BG CAMI GRPH CRPR     MISMNT             0
5      47             5458  GR BG CAMI GRPH CRPR     REDRVR             0
6      47             5458  GR BG CAMI GRPH CRPR     SNYELW             0
7      47             5458   GR BG CAMI PRT CRPR     ARCWH2             0

## Rename and Reindex

In [144]:
df.rename(columns={'WM Week':' WM_Week','Fineline Number':'Fineline_Number'}).head()

WM Week              int64
Fineline Number      int64
Prime Item Desc     object
Color Desc          object
POS Qty              int64
POS Sales          float64
Net Ship Qty         int64
dtype: object

## Ordered Categories

In [149]:
from pandas.api.types import CategoricalDtype
fineline = CategoricalDtype([5458, 5459, 5460, 5461, 5468, 5469, 6024, 6670, 6671, 6691])
df['test'] = df['Fineline Number'].astype(fineline)
df.head()
df.dtypes

WM Week               int64
Fineline Number       int64
Prime Item Desc      object
Color Desc           object
POS Qty               int64
POS Sales           float64
Net Ship Qty          int64
test               category
dtype: object

## Multiindex

In [163]:
df = df.pivot_table(index=['WM Week','Fineline Number','Prime Item Desc','Color Desc'],values='POS Qty',aggfunc=np.sum)
a = df.loc[([201747,201748],[5459,6670]),:]
b = df.loc[(slice(None),[5459,6670]),:]

## drop & dropna

In [180]:
ddf = df.copy()
ddf.drop('POS Qty', axis='columns', inplace=True)
#ddf.dropna(axis='Net Ship Qty',how='all')
ddf.head()

,WM Week,Fineline Number,Prime Item Desc,Color Desc,POS Sales,Net Ship Qty
0,201747,5458,GR BG CAMI GRPH CRPR,ALHCRL,0.0,0
1,201747,5458,GR BG CAMI GRPH CRPR,ARCWHT,0.0,0
2,201747,5458,GR BG CAMI GRPH CRPR,GUMBAL,0.0,0
3,201747,5458,GR BG CAMI GRPH CRPR,LILBUD,0.0,0
4,201747,5458,GR BG CAMI GRPH CRPR,MISMNT,0.0,0

## Filter and Value_Counts

In [183]:
df[df['Fineline Number']== 6670]['Color Desc'].value_counts(normalize=True)

ARCWHT    0.208333
OATHTR    0.125000
SORLIM    0.125000
MDGYHR    0.083333
REDRVR    0.083333
YELBIK    0.083333
BLTILE    0.083333
HVNTUR    0.083333
LTGYHR    0.083333
ORGSMH    0.041667
Name: Color Desc, dtype: float64

In [244]:
a = df[df['Color Desc']== 'ARCWHT']['Fineline Number'].value_counts(normalize=True)
b = df.groupby('Color Desc')['Fineline Number'].value_counts(normalize=True)
c = df.groupby(['Color Desc','Fineline Number'])['POS Qty'].sum() / df.groupby(['Color Desc'])['POS Qty'].sum()
d = df.groupby('Fineline Number')['Color Desc'].value_counts(normalize=True).loc[:,'ARCWHT']
e = df.groupby(['Color Desc','Fineline Number'])['POS Qty'].mean()
f = (df.groupby(['Color Desc'])['POS Qty'].sum() / df.groupby(['Color Desc'])['Prime Item Desc'].count())
f

Color Desc
18M        196.636364
ALHCRL    3923.928571
ARCWH2    2261.702381
ARCWHT    3675.685615
BAJBLU    3992.321429
BLKSOT    5075.147321
BLTILE    3903.964286
BLTLHR    2539.607143
BLUMRP    3928.015306
BRNTOV    3936.000000
CHMBRY    5612.773810
CHOCHP    2995.107143
DKINDG    8682.178571
DSTCAM    3956.285714
GRBYNY    4184.864286
GRNCMO    4576.119048
GUMBAL    3426.435714
HVNTUR    2811.468750
INDDEN    6567.821429
LILBUD    3034.377820
LTGYHR    3813.892857
MDGYHR    4324.791667
MEDDEN    7270.785714
MGRHTR    4996.821429
MISMNT    3865.381579
MULTI        0.083333
NVYFOG    4164.446429
OATHTR    3610.753968
ORGSMH    2771.578571
PLMDSR    6318.178571
PSRPNK    3344.123377
REDRVR    3850.892857
RNBOW     3431.328571
SIDWLK    4093.321429
SNYELW    3085.035714
SORLIM    3226.714286
TRPAXL    4494.035714
YELBIK    3133.071429
dtype: float64

In [9]:
m = pd.Period('2011-1', freq='W-FRI')
m.end_time

Timestamp('2011-01-07 23:59:59.999999999')

In [16]:
m = pd.date_range('2011-01', periods=434,freq='W-FRI')
m

DatetimeIndex(['2011-01-07', '2011-01-14', '2011-01-21', '2011-01-28',
               '2011-02-04', '2011-02-11', '2011-02-18', '2011-02-25',
               '2011-03-04', '2011-03-11',
               ...
               '2019-02-22', '2019-03-01', '2019-03-08', '2019-03-15',
               '2019-03-22', '2019-03-29', '2019-04-05', '2019-04-12',
               '2019-04-19', '2019-04-26'],
              dtype='datetime64[ns]', length=434, freq='W-FRI')